@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Krub&display=swap");
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
body {
  font-family: "Krub", sans-serif !important;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_headings {
  font-family: "Kavoon", serif;
}
/* Item */
li {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}
li > button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
}
input[type="checkbox"] {
  accent-color: black;
}
/* Breakpoints */
@media (max-width: 768px) {
  .package_list {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
  .stats {
    display: flex;
    flex-direction: column;
  }
  .stats > p {
    width: 100% !important;
    margin-top: 24px !important;
    padding: 24px !important;
  }
  .stats > p {
    width: 100% !important;
    margin-top: 24px !important;
    padding: 24px !important;
  }
  .stats > p:nth-child(2) {
    margin-top: 0px !important;
  }
}
@media (max-width: 481px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
  .form_element {
    margin-left: 0 !important;
  }
  .manage_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .manage_items button {
    margin: 0 !important;
  }
  footer {
    padding-bottom: 48px;
  }
}
